<app-header titulo="Planning"></app-header>

<ion-content>


    <div class="card">
        <table>

            <tr class="horas">
                <td class="esquina"></td>
                <td *ngFor="let hora of horas">{{hora}}</td>
            </tr>
            <tr *ngFor="let prof of profesores">
                <td class="profesores">{{prof}}</td>
                <td *ngFor="let hora of horas" class="clases" cdkDropList (cdkDropListDropped)="onDrop($event)">
                    <div (click)="openModal(hora, prof)" cdkDrag>
                        hola - {{hora}}:{{prof}}
                    </div>
                </td>
            </tr>
        </table>
    </div>

</ion-content>