<h1 mat-dialog-title> Nueva Clase: Profesor {{clase.profesor.nombre}} Hora inicio: {{clase.fhInicio}}</h1>
<mat-divider></mat-divider>

<form [formGroup]="formClase" #formModalClase="ngForm">
  <div mat-dialog-content>
    <div class="modal-fields">
      <mat-form-field>
        <input matInput formControlName="fhInicio" placeholder="Hora Inicio">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="fhFin" placeholder="Hora fin">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="cliente" placeholder="Nombre cliente">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="numAlumnos" placeholder="Nº Alumnos" type="number" min="1">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Modalidad</mat-label>
        <mat-select>
          <mat-option *ngFor="let mod of modalidades" [value]="mod">
            {{mod}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo de clase</mat-label>
        <mat-select>
          <mat-option *ngFor="let tipo of tipoClase" [value]="tipo">
            {{tipo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button mat-stroked-button color="primary" (click)="onSave()">Guardar</button>
    <button mat-stroked-button color="warn" (click)="onClose()">Volver</button>
  </div>
</form>